.editor {
  display: grid;
  grid-auto-rows: minmax(48px, auto);
  grid-template-columns: 1fr auto auto;
  gap: 4px;
}

.input {
  box-sizing: border-box;
  grid-column: 1 / 4;
  height: 48px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  font-size: 14px;
  border-color: #26bfb3;
  padding: 16px;
  font-size: 16px;
}

.imageUpload {
  background-color: #ececec;
  border: none;
  border-radius: 4px;
  grid-column: 2 / 3;
  width: 48px;
}

.cancel {
  background-color: #ececec;
  border: none;
  border-radius: 4px;
  grid-column: 2 / 3;
  font-size: 16px;
  font-weight: 400;
  padding: 0 12px;
}

.upload {
  background-color: #26bfb3;
  border: none;
  grid-column: 3 / 4;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border-radius: 4px;
  padding: 0 12px;
}

.imageManager {
  grid-column: 1 / 4;
  max-height: 700px;
  overflow: hidden;
}

.image {
  width: 100%;
}
