.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  display: flex;
  > * {
    width: 520px;
  }
  > div {
    display: flex;
    flex-direction: column;
    > * {
      margin: 16px;
    }
  }
  justify-content: center;
}

.header {
  display: flex;
  height: 60px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #26bfb3;
  > * {
    width: 520px;
     > * {
       margin: 0 16px;
     }
  }
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > * {
    color: white;
  }
}

.cottage {
  text-decoration: none;
  color: white;
  font: 700 24px Outfit;
  letter-spacing: -1px;
}